* {
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

.row {
  margin: 0;
}

.container {
  padding: 5rem 0;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 4rem;
  color: #ff4f81;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.title p {
  font-size: 1.8rem;
  color: #333333;
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
}

.line {
  width: 100px;
  height: 2px;
  background-color: #333333;
  margin: 3rem auto;
}

.slick-dots li button::before {
  font-size: 1.4rem;
  color: #ff4f81;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.slick-dots li button::before:hover {
  color: #ff4f81;
}

.slick-dots li.slick-active button::before {
  color: #ff4f81;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  background-color: #ff4f81;
  color: #ffffff;
}

.header i {
  margin: 0 0.5rem;
}

.header__left {
  font-size: 1.6rem;
}

.header__right a i {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  background-color: #333333;
  border: 1px solid #333333;
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__right a i:hover {
  background-color: #ff4f81;
  border: 1px solid #ffffff;
}

.navbar {
  background-color: #ffffff;
}

.navbar .container {
  padding: 0;
}

.navbar-brand--logo h1 {
  font-size: 3rem;
  color: #000000;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.navbar-brand--logo h1 i {
  margin-right: 1rem;
}

.navbar-brand--logo p {
  font-size: 1.6rem;
  color: #ff4f81;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.navbar-nav--menu {
  margin-left: auto;
}

.navbar-nav--menu li {
  margin-left: 2rem;
}

.navbar-nav--menu li a {
  font-size: 1.6rem;
  color: #333333;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  position: relative;
}

.navbar-nav--menu li a::after {
  width: 0;
  height: 2px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #ff4f81;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-nav--menu li:hover a,
.navbar-nav--menu li.active a {
  color: #ff4f81;
}

.navbar-nav--menu li:hover a::after,
.navbar-nav--menu li.active a::after {
  width: 100%;
}

.carousel-indicators--config {
  list-style-type: none;
  margin-bottom: 10rem;
}

.carousel-indicators--config li {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border-radius: 50%;
  margin: 0.5rem;
}

.carousel-indicators--config li.active {
  background-color: #ffffff;
}

.carousel-caption--config {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

.carousel-caption--config h1 {
  font-size: 4.8rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.carousel-caption--config p {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.3rem;
  margin: 1rem 0;
}

.carousel-caption--config .btn--read-more {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.1rem;
  border-radius: initial;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 1rem;
}

.carousel-caption--config .btn--read-more:hover {
  background-color: #ff4f81;
}

.carousel .modal-title--config {
  font-size: 2.5rem;
  color: #ff4f81;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.carousel .btn-close--config {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: auto;
  left: auto;
}

.carousel .modal-body--config p {
  font-size: 1.4rem;
  color: #6b6b6b;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-align: justify;
}

.education {
  background-color: #ffffff;
}

.education__paragraph {
  font-size: 1.6rem;
  color: #6b6b6b;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 0 10rem;
}

.education__content {
  margin: 3rem auto;
}

.education__item {
  padding: 2rem;
  border-radius: 0;
  border-color: #000000;
}

.education__item:nth-child(2) {
  border-left: none;
  border-right: none;
}

.education__item i {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  background-color: transparent;
  border: 1px solid none;
  font-size: 3rem;
  color: #000000;
  text-align: center;
}

.education__item h2 {
  font-size: 2.5rem;
  color: #ff4f81;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin: 2rem 0;
}

.education__item h3 {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

.education__item p {
  font-size: 1.6rem;
  color: #6b6b6b;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.stats {
  background: url(../img/banner2.jpg) 100% 100% no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.stats__title p {
  color: #ffffff;
}

.stats__line {
  background-color: #ffffff;
}

.stats__content {
  margin: 6rem auto 3rem;
}

.stats__item {
  text-align: center;
}

.stats__item i {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  background-color: transparent;
  border: 1px solid none;
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
}

.stats__item h2 {
  font-size: 2.5rem;
  color: #ff4f81;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin: 2rem 0;
}

.stats__item p {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.offer {
  background-color: #ffffff;
}

.offer__content {
  margin: 6rem auto 3rem;
}

.offer__item {
  text-align: center;
  border: 1px solid #333333;
  -webkit-box-shadow: 0 0 1px 1px #ababab;
          box-shadow: 0 0 1px 1px #ababab;
  padding: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.offer__item i {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  background-color: transparent;
  border: 1px solid none;
  font-size: 4rem;
  color: #ff4f81;
  text-align: center;
}

.offer__item h2 {
  font-size: 1.8rem;
  color: #333333;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin: 2rem 0;
  text-transform: uppercase;
}

.offer__item p {
  font-size: 1.6rem;
  color: #6b6b6b;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.offer__item:hover {
  background-color: #12ccc3;
  border: 1px solid #12ccc3;
  -webkit-box-shadow: 0 0 1px 1px #12ccc3;
          box-shadow: 0 0 1px 1px #12ccc3;
}

.testimonials {
  background: url(../img/banner3.jpg) 100% 100% no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.testimonials__title p {
  color: #ffffff;
}

.testimonials__line {
  background-color: #ffffff;
}

.testimonials__content {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 1px 1px #ababab;
          box-shadow: 0 0 1px 1px #ababab;
  padding: 2rem;
  margin: 6rem auto 3rem;
}

.testimonials__item {
  margin: 1rem;
}

.testimonials__item p {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.05rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  margin-bottom: 2rem;
}

.testimonials__item p::after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: -1rem;
  left: 25%;
  content: "";
  border-top: 1rem solid rgba(0, 0, 0, 0.7);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
}

.testimonials__item img {
  width: 6rem;
  height: 6rem;
}

.testimonials__item h2 {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.testimonials__item span {
  font-size: 1.4rem;
  color: #ff4f81;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.event {
  background-color: #ffffff;
}

.event__content {
  margin: 6rem auto 3rem;
}

.event__item h2 {
  font-size: 1.8rem;
  color: #333333;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.event__item h3 {
  font-size: 1.6rem;
  color: #ff4f81;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.event__item p {
  font-size: 1.6rem;
  color: #6b6b6b;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.footer {
  background-color: #141415;
}

.footer__content h2 {
  font-size: 2rem;
  color: #ff4f81;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.footer__content p {
  font-size: 1.4rem;
  color: #8b8b96;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.footer__new i {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1.6rem;
  color: #ff4f81;
  text-align: center;
}

.footer__contact i {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 1.6rem;
  color: #ffffff;
  text-align: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.footer__signUp input {
  width: 70%;
  height: 4rem;
  font-size: 1.4rem;
  color: #6b6b6b;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.footer__signUp input:focus {
  outline: none;
}

.footer__signUp .btn-submit {
  width: 25%;
  height: 4rem;
  background-color: #ff4f81;
  border: 1px solid #ff4f81;
  font-size: 1.6rem;
  color: #ffffff;
  border-radius: 0%;
  margin-bottom: 0.5rem;
}

.footer .copy-right {
  background-color: #0f0f10;
}

.footer .copy-right p {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.footer .copy-right p span {
  color: #ff4f81;
}
/*# sourceMappingURL=index.css.map */