.slick-dots li {
    button::before {
        @include text(fs("body-2"), text("textSecondary"), fw("fwRegular"), 0.1rem);

        &:hover {
            color: text("textSecondary");
        }
    }

    &.slick-active {
        button::before {
            color: text("textSecondary");
        }
    }
}

.slick-track {
    display        : flex;
    justify-content: space-between;
}