//get color from bgColors Array
@function bg($color) {
    @if map-has-key($map: $bgColor, $key: $color) {
        @return map-get($map: $bgColor, $key: $color);
    }

    @warn ("This color doesn't exist");
    @return "";
}

//get text color from textColors Array
@function text($color) {
    @if map-has-key($map: $textColor, $key: $color) {
        @return map-get($map: $textColor,
            $key: $color);
    }

    @warn ("This color doesn't exist");
    @return "";
}

//get border color from textColors Array
@function bd($color) {
    @if map-has-key($map: $bdColor, $key: $color) {
        @return map-get($map: $bdColor,
            $key: $color);
    }

    @warn ("This color doesn't exist");
    @return "";
}

//get font size from fontSizes Array
@function fs($fs) {
    @if map-has-key($map: $fontSize, $key: $fs) {
        @return map-get($map: $fontSize,
            $key: $fs);
    }

    @warn ("This font size doesn't exist");
    @return "";
}

//get font weight from fontWeight Array
@function fw($font) {
    @if map-has-key($map: $fontWeight, $key: $font) {
        @return map-get($map: $fontWeight, $key: $font);
    }

    @warn ("This font weight doesn't exist");
    @return "";
}

//get break point from breakPoint Array
@function rp($breakpoint) {
    @if map-has-key($map: $breakPoint, $key: $breakpoint) {
        @return map-get($map: $breakPoint, $key: $breakpoint);
    }

    @warn ("This break point doesn't exist");
    @return "";
}